name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - "*"

env:
  REGISTRY: "ghcr.io"
  REGISTRY_IMAGE: ghcr.io/${{ github.repository_owner }}/${{ github.repository }}
  PG_VERSION: "18.2"
  PG_VECTOR_VERSION: "0.8.1"
  PG_PARTMAN_VERSION: "5.2.4"

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    runs-on: ${{matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "ubuntu-24.04-arm"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set envs
        run: |
          echo "ARCH=$(arch)" >> $GITHUB_ENV

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: "."
          tags: ${{ env.REGISTRY_IMAGE }}
          build-args: |
            PG_VERSION=${{ env.PG_VERSION }}
            PG_VECTOR_VERSION=${{ env.PG_VECTOR_VERSION }}
            PG_PARTMAN_VERSION=${{ env.PG_PARTMAN_VERSION }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PG_VERSION }}-${{ env.ARCH }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-${{ env.PG_VERSION }}-*
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          DIGESTS=$(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)
          echo "Digests: $DIGESTS"

          docker buildx imagetools create -t ${{ env.REGISTRY_IMAGE }}:${{ env.PG_VERSION }} \
            $DIGESTS
